@import "var";
@import "helper";
@import "mixin";

ol,
ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

html {
    height: 100%;
}

.wrap,
body {
    height: 100%;
}

div,
span,
a,
header {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.clearfix {
    *zoom: 1;
}

.clearfix:after,
.clearfix:before {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

.fl,
.left {
    float: left;
}

.fr,
.right {
    float: right;
}

.middle {
    vertical-align: middle;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline-block;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.pos-bottom {
    position: absolute;
    bottom: 0;
}

i {
    display: inline-block;
    font-style: normal;
}

p {
    line-height: 1;
}

a {
    display: inline-block;
}

.flexBox {
    display: box;
    /*（伸缩盒最老版本）*/
    display: -webkit-box;
    /* iOS 6-, Safari 3.1-6 */
    display: -webkit-flex;
    /* Chrome */
    display: -moz-box;
    /* Firefox 19 */
    display: -ms-flexbox;
    display: flexbox;
    display: flex;
    width: 100%;
    //  height: 100%;
}

.flex-center {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.flexItem {
    -webkit-box: auto;
    -webkit-flex: auto;
    -ms-flexbox: auto;
    flex: auto;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.font-bold {
    font-weight: bold;
}

.textOverflow {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.hide{
    display: none;
}
.cm_hide,
.hidden {
    display: none !important;
}

#wrapper {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

.absPage {
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: absolute !important;
    width: 100%;
    min-height: 100%;
    z-index: 10;
    //  background: #f3f4f6;
}

@include moveIn();
@include moveOut();


////////////////////////////////////////////
//640宽用这个
//$scale:4;
////////////////////////////////////////////
////720宽用这个
//$scale:2.7;
////////////////////////////////////////////
//750宽用这个
$scale:1;
////////////////////////////////////////////
.font02 {
    font-size: rem(2* $scale);
}

.font03 {
    font-size: rem(3* $scale);
}

.font04 {
    font-size: rem(4* $scale);
}

.font05 {
    font-size: rem(5* $scale);
}

.font06 {
    font-size: rem(6* $scale);
}

.font07 {
    font-size: rem(7 * $scale);
}

.font08 {
    font-size: rem(8 * $scale);
}

.font09 {
    font-size: rem(9 * $scale);
}

.font10 {
    font-size: rem(10 * $scale);
}

.font11 {
    font-size: rem(11 * $scale);
}

.font12 {
    font-size: rem(12 * $scale);
}

.font13 {
    font-size: rem(13 * $scale);
}

.font14 {
    font-size: rem(14 * $scale);
}

.font15 {
    font-size: rem(15 * $scale);
}

.font16 {
    font-size: rem(16 * $scale);
}

.font17 {
    font-size: rem(17 * $scale);
}

.font18 {
    font-size: rem(18 * $scale);
}

.font19 {
    font-size: rem(19 * $scale);
}

.font20 {
    font-size: rem(20 * $scale);
}

.font21 {
    font-size: rem(21 * $scale);
}

.font22 {
    font-size: rem(22 * $scale);
}

.font23 {
    font-size: rem(23 * $scale);
}

.font24 {
    font-size: rem(24 * $scale);
}

.font25 {
    font-size: rem(25 * $scale);
}

.font26 {
    font-size: rem(26 * $scale);
}

.font27 {
    font-size: rem(27 * $scale);
}

.font28 {
    font-size: rem(28 * $scale);
}

.font29 {
    font-size: rem(29 * $scale);
}

.font30 {
    font-size: rem(30 * $scale);
}

.font31 {
    font-size: rem(31 * $scale);
}

.font32 {
    font-size: rem(32 * $scale);
}

.font33 {
    font-size: rem(33 * $scale);
}

.font34 {
    font-size: rem(34 * $scale);
}

.font35 {
    font-size: rem(35 * $scale);
}

.font36 {
    font-size: rem(36 * $scale);
}

.font37 {
    font-size: rem(37 * $scale);
}

.font38 {
    font-size: rem(38 * $scale);
}

.font39 {
    font-size: rem(39 * $scale);
}

.font40 {
    font-size: rem(40 * $scale);
}

.font41 {
    font-size: rem(41 * $scale);
}

.font42 {
    font-size: rem(42 * $scale);
}

.font43 {
    font-size: rem(43 * $scale);
}

.font44 {
    font-size: rem(44 * $scale);
}

.font45 {
    font-size: rem(45 * $scale);
}

.font46 {
    font-size: rem(46 * $scale);
}

.font47 {
    font-size: rem(47 * $scale);
}

.font48 {
    font-size: rem(48 * $scale);
}

.font49 {
    font-size: rem(49 * $scale);
}

.font50 {
    font-size: rem(50 * $scale);
}

.font52 {
    font-size: rem(52 * $scale);
}

.font54 {
    font-size: rem(54 * $scale);
}

.font56 {
    font-size: rem(56 * $scale);
}

.font58 {
    font-size: rem(58 * $scale);
}

.font60 {
    font-size: rem(60 * $scale);
}

.font62 {
    font-size: rem(62 * $scale);
}

.font64 {
    font-size: rem(64 * $scale);
}

.font66 {
    font-size: rem(66 * $scale);
}

.font68 {
    font-size: rem(68 * $scale);
}

.font70 {
    font-size: rem(70 * $scale);
}

.font72 {
    font-size: rem(72 * $scale);
}

.font74 {
    font-size: rem(74 * $scale);
}

.font75 {
    font-size: rem(75 * $scale);
}

.font76 {
    font-size: rem(76 * $scale);
}

.font78 {
    font-size: rem(78 * $scale);
}

.font80 {
    font-size: rem(80);
}

.font82 {
    font-size: rem(82 * $scale);
}

.font84 {
    font-size: rem(84 * $scale);
}

.font86 {
    font-size: rem(86 * $scale);
}

.font87 {
    font-size: rem(87 * $scale);
}

.font88 {
    font-size: rem(88 * $scale);
}

.font89 {
    font-size: rem(89 * $scale);
}

.font90 {
    font-size: rem(90 * $scale);
}

.pageSlider {
    background: rgba(0, 0, 0, 0.9);
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
}

body {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

//
//.vcenter {
//  position: relative;
//  height: 100%;
//}
.vcenter-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: auto;
    display: table;
    //      text-align: center;
}

.vCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translateX(-50%, -50%);
}

.vBox {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hBox {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

