.l_box{
	background-image: url($imgPath+'login/bg.png');
	background-repeat: no-repeat;
	.l_msg{
		color: #fff;
	}
	.l_head{
		margin-top: rem(70);
	}
	.l_name{
		line-height: rem(50);
	}
	.l_height{
		line-height: rem(70);
	}
	.l_form{
		width: rem(650);
		margin: 0 auto;
		padding: rem(100) rem(40) rem(120);
		background-color: #fff;
		border-radius: rem(20);
		box-shadow: 0px 0px rem(20) #FFCC9C;
		margin-top: rem(60);
		input{
			border: none;
			background-color: #F2F2F2;
			&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			    color:    #bbbbbb;
			}
			&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			   color:    #bbbbbb;
			}
			&::-moz-placeholder { /* Mozilla Firefox 19+ */
			   color:    #bbbbbb;
			}
			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			   color:    #bbbbbb;
			}
		}
		.l_ppaddingB{
			margin-bottom: rem(60);
		}
		.l_check{
			width: 60%;
			height: rem(54);
			line-height: rem(54);
			border-left: rem(4) solid #FFA034;
			padding-left: rem(25);
			position: relative;
			top: rem(23);
			color: #FFA034;
		}
		.l_WH{
			width: 100%;
			height: rem(100);
			line-height: rem(100);
			border-radius: rem(100);
		}
		.l_input{
			background-color: #F2F2F2;
			padding: 0 rem(50);
		}
		.l_btn{
			color: #fff;
			border: none;
			background-color: #FFA034;
		}
	}
}