.pad0A {
    padding: pxToRem(5) !important;
}

.pad5A {
    padding: pxToRem(5) !important;
}

.pad10A {
    padding: pxToRem(10) !important;
}

.pad15A {
    padding: pxToRem(15) !important;
}

.pad20A {
    padding: pxToRem(20) !important;
}

.pad25A {
    padding: pxToRem(25) !important;
}

.pad30A {
    padding: pxToRem(30) !important;
}

////////////////////////////////////////////
.pad0L {
    padding-left: 0;
}

.pad0T {
    padding-top: 0;
}

.pad0R {
    padding-right: 0;
}

.pad0B {
    padding-bottom: 0;
}

////////////////////////////////////////////
.pad5L {
    padding-left: pxToRem(5) !important;
}

.pad5T {
    padding-top: pxToRem(5) !important;
}

.pad5R {
    padding-right: pxToRem(5) !important;
}

.pad5B {
    padding-bottom: pxToRem(5) !important;
}

////////////////////////////////////////////
.pad10L {
    padding-left: pxToRem(10) !important;
}

.pad10T {
    padding-top: pxToRem(10) !important;
}

.pad10R {
    padding-right: pxToRem(10) !important;
}

.pad10B {
    padding-bottom: pxToRem(10) !important;
}

////////////////////////////////////////////
.pad15L {
    padding-left: pxToRem(15) !important;
}

.pad15T {
    padding-top: pxToRem(15) !important;
}

.pad15R {
    padding-right: pxToRem(15) !important;
}

.pad15B {
    padding-bottom: pxToRem(15) !important;
}

////////////////////////////////////////////
.pad20L {
    padding-left: pxToRem(20) !important;
}

.pad20T {
    padding-top: pxToRem(20) !important;
}

.pad20R {
    padding-right: pxToRem(20) !important;
}

.pad20B {
    padding-bottom: pxToRem(20) !important;
}

////////////////////////////////////////////
.pad25L {
    padding-left: pxToRem(25) !important;
}

.pad25T {
    padding-top: pxToRem(25) !important;
}

.pad25R {
    padding-right: pxToRem(25) !important;
}

.pad25B {
    padding-bottom: pxToRem(25) !important;
}

////////////////////////////////////////////
.pad30L {
    padding-left: pxToRem(30) !important;
}

.pad30T {
    padding-top: pxToRem(30) !important;
}

.pad30R {
    padding-right: pxToRem(30) !important;
}

.pad30B {
    padding-bottom: pxToRem(30) !important;
}

////////////////////////////////////////////
.mrg0A {
    margin: pxToRem(5) !important;
}

.mrg5A {
    margin: pxToRem(5) !important;
}

.mrg10A {
    margin: pxToRem(10) !important;
}

.mrg15A {
    margin: pxToRem(15) !important;
}

.mrg20A {
    margin: pxToRem(20) !important;
}

.mrg25A {
    margin: pxToRem(25) !important;
}

.mrg30A {
    margin: pxToRem(30) !important;
}

////////////////////////////////////////////
.mrg0L {
    margin-left: 0;
}

.mrg0T {
    margin-top: 0 !important;
}

.mrg0R {
    margin-right: 0;
}

.mrg0B {
    margin-bottom: 0;
}

////////////////////////////////////////////
.mrg5L {
    margin-left: pxToRem(5) !important;
}

.mrg5T {
    margin-top: pxToRem(5) !important;
}

.mrg5R {
    margin-right: pxToRem(5) !important;
}

.mrg5B {
    margin-bottom: pxToRem(5) !important;
}

////////////////////////////////////////////
.mrg10L {
    margin-left: pxToRem(10) !important;
}

.mrg10T {
    margin-top: pxToRem(10) !important;
}

.mrg10R {
    margin-right: pxToRem(10) !important;
}

.mrg10B {
    margin-bottom: pxToRem(10) !important;
}

////////////////////////////////////////////
.mrg15L {
    margin-left: pxToRem(15) !important;
}

.mrg15T {
    margin-top: pxToRem(15) !important;
}

.mrg15R {
    margin-right: pxToRem(15) !important;
}

.mrg15B {
    margin-bottom: pxToRem(15) !important;
}

////////////////////////////////////////////
.mrg20L {
    margin-left: pxToRem(20) !important;
}

.mrg20T {
    margin-top: pxToRem(20) !important;
}

.mrg20R {
    margin-right: pxToRem(20) !important;
}

.mrg20B {
    margin-bottom: pxToRem(20) !important;
}

////////////////////////////////////////////
.mrg25L {
    margin-left: pxToRem(25) !important;
}

.mrg25T {
    margin-top: pxToRem(25) !important;
}

.mrg25R {
    margin-right: pxToRem(25) !important;
}

.mrg25B {
    margin-bottom: pxToRem(25) !important;
}

////////////////////////////////////////////
.mrg30L {
    margin-left: pxToRem(30) !important;
}

.mrg30T {
    margin-top: pxToRem(30) !important;
}

.mrg30R {
    margin-right: pxToRem(30) !important;
}

.mrg30B {
    margin-bottom: pxToRem(30) !important;
}
////////////////////////////////////////////

.tableBox
{
    display: table;
}

.tableCell
{
    display: table-cell;
}
